.container {
    margin-top: 200px;
}

p {
    color: red;
    font-size: 10px;
    margin: 5px;
}

body {
    background: linear-gradient(135deg, #e0f7fa, #e1f5fe);
    color: black;
    font-family: Arial, sans-serif;
}
.main{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}